<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Create Project</title>
    {% load sweetify %}
</head>
<body>
    <h1>Create a New Project</h1>
    <form method="post" action="{% url 'create_task' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Project</button>
    </form>

    {% sweetify %}
</body>
</html>

